ckeditor
django-ckeditor
livereload
django-livereload
import_export
django-import-export
social.apps.django_app.default
social_django
django-recaptcha
captcha
django-comments-xtd
wget http://download.osgeo.org/proj/proj-4.9.1.tar.gz
wget http://download.osgeo.org/proj/proj-datumgrid-1.5.tar.gz
