{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}

<main class="account">
  <section class="container section">
    <div class="row">
      <div class="col s12">
        <div class="col s12 m7">
          <h2 class="header">{{ title }}</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="{% static 'hnfp/img/icons/i_profile.svg' %}" style="width: 60px; height: auto;">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="card-title">{{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>username</strong><br />{{ user.username }}</p>
                <p><strong>email</strong><br />{{ user.email }}</p>
              </div>
              <div class="card-action">
                <a class="" href="{% url 'account:edit' %}">Edit Info</a>
                <a href="{% url 'account:change_password' %}">Change Password</a>
              </div>
            </div>
          </div>
        </div>
        {% if user.is_superuser %}
          <div class="col s12 m7">
            <a class="btn btn-success" href="{{ admin_url }}">Go to the Django admin page</a>
          </div>
        {% endif %}
        {% if user.is_staff %}
          <div class="col s12 m7 margin-bottom">
            <a class="btn btn-success" href="/admin">Go to the CMS admin page</a>
          </div>
        {% endif %}

        <!-- no need to verify anymore
        {% if not user.userdata.email_verified %}
        <blockquote class="warn" style="border-left-color: #ea3a54; background-color: #eee">
            <p>Your email address has not been verified. </p>
            <p>Please verify your email address to complete your registration.</p>
            <form style="display:inline;" method="POST" action="{% url 'account:verify_new_email' %}">{% csrf_token %}
                <button class='btn btn-success' onclick="this.form.submit()">Verify email</button>
            </form>
        </blockquote>
        {% endif %}
        -->

        <div class="col s12 m7">
          <a class="btn btn-flat" href="{% url 'account:logout' %}">Log out</a><br />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
