{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}

<main class="account">
  <section class="container section">
    <div class="row">
      <div class="col s12">
        <h1>Hello, {{ user.first_name }}  {{ user.last_name }}</h1>
        <p><!-- user description --> </p>

        <h3>Profile Information</h3>
        <p>Name: {{ user.get_full_name }}</p>
        <p>Preferred Name: {{ user.get_short_name }}</p>
        <p>email: {{ user.email|default:"<i style='color:red'>No Email Address</i>" }}</p>
        <p>
        <a class="btn btn-success" href="{% url 'account:edit' %}">Edit my info</a>
        {% if can_change_password %}
        <a class="btn btn-success" href="{% url 'account:change_password' %}">Change my password</a>
        {% endif %}
        </p>
        <p>
        {% if user.is_superuser %}
            <a class="btn btn-success" href="{{ admin_url }}">Go to the Django admin page</a>
        {% endif %}
        {% if user.is_staff %}
            <a class="btn btn-success" href="/admin">Go to the CMS admin page</a>
        {% endif %}
        </p>

        <!-- no need to verify anymore
        {% if not user.userdata.email_verified %}
        <blockquote class="warn" style="border-left-color: #ea3a54; background-color: #eee">
            <p>Your email address has not been verified. </p>
            <p>Please verify your email address to complete your registration.</p>
            <form style="display:inline;" method="POST" action="{% url 'account:verify_new_email' %}">{% csrf_token %}
                <button class='btn btn-success' onclick="this.form.submit()">Verify email</button>
            </form>
        </blockquote>
        {% endif %}
        -->

    </div>
    <div class="col-md-3">
        <a class="btn btn-success" href="{% url 'account:logout' %}">Log out</a><br />
    </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
