{% load static %}
<style>
body {
  color: #2b384a;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 2rem 0;
}
.container {
  font-size: .875em;
  margin: 0 auto;
  width: 90%;
}
form > div,
p {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
}
.btn {
  display: inline-block;
  color: #888;
  margin-left: 2rem;
}
input[type=submit] {
  border: none;
  color: #fff;
  background: teal;
  font-size: 1.125em;
  padding: 6px 12px;
}
</style>

<link rel="stylesheet" href="{% static 'hnfp/css/openlayers/ol.css' %}" media="screen,projection"/>
<script src="{% static 'hnfp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'hnfp/js/openlayers/ol.js' %}"></script>
<script src="{% static 'gis/js/OLMapWidget.js' %}"></script>

<main class="alert-delete">
  <section class="container">
    <form action="" method="post">
      <h1>Are you sure you want to delete: {{ object }}?</h1>
      {% csrf_token %}
      <input type="submit" value="Confirm" />
      <a href="/alert/" class="btn">Cancel</a>
    </form>
  </section>
</main>
