{% extends "base.html" %}
{% load static %}

{% block site_style %}
<style>
form > div {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
}
</style>

<link rel="stylesheet" href="{% static 'hnfp/css/openlayers/ol.css' %}" media="screen,projection"/>
<script src="{% static 'hnfp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'hnfp/js/openlayers/ol.js' %}"></script>
<script src="{% static 'gis/js/OLMapWidget.js' %}"></script>
{% endblock site_style %}

{% block content %}
<main class="alert-update">
  <section class="container padding-top">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <input class="btn" type="submit" value="Update" />
        <a href="/alert/" class="btn-flat">Cancel</a>
      </div>
    </form>
  </section>
</main>
{% endblock content %}
