{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}
<main class="dashboard">
  <div class="bg">&nbsp;</div>
  <section class="section">
    <div class="row container">
      <div class="col s12 l8 flow-text right">
        {% include './dashboard/weather.html' %}
        {% include './dashboard/alerts.html' %}
        {% include './dashboard/blog.html' %}
      </div>
      <aside class="col s12 l4 flow-text left">
        <div class="row hide-on-med-and-down">
          <a class="btn btn-border-blue" href="#">Invite friends</a>
        </div>
        {% include './dashboard/events.html' %}
        {% include './dashboard/open_positions.html' %}
        {% include './dashboard/observations.html' %}
      </aside>
    </div>
  </section>
  <section class="bg_green_light overflow-hidden pre-footer">
    <div class="container">
      <div class="row">
        <h3 class="center flow-text">Our partnership</h3>
        <div class="col s4 center">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
        <div class="col s4 center flow-text">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
        <div class="col s4 center flow-text">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock outer_content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static '/hnfp/js/dashboard.js' %}"></script>
{% endblock extra_js %}
