{% extends "hnfp/index.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'js/lib/openlayers/theme/default/style.css' %}">
{% endblock extra_css %}

{% block outer_content %}
<main class="dashboard">
  <div class="bg">&nbsp;</div>
  <section class="section">
    <div class="row container">
      <div class="col s12 l7 offset-l1 flow-text right">
        <section class="section">
          {% include './dashboard/weather.html' %}
        </section>
        <section class="section">
          {% include './dashboard/alerts.html' %}
        </section>
        <section class="section">
          {% include './dashboard/observation.html' %}
        </section>
      </div>
      <aside class="col s12 l4 flow-text left">
        <section class="section">
          {% include './dashboard/blog.html' %}
        </section>
        <section class="section">
          {% include './dashboard/events.html' %}
        </section>
        <section class="section">
          {% include './dashboard/open_positions.html' %}
        </section>
        <section class="row">
          <a class="btn btn-border-blue" href="#">Invite friends</a>
        </section>
      </aside>
    </div>
  </section>
  <section class="bg_green_light overflow-hidden pre-footer">
    <div class="container">
      <div class="row">
        <h3 class="center flow-text">Our partnership</h3>
        <div class="col s4 center">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
        <div class="col s4 center flow-text">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
        <div class="col s4 center flow-text">
          <img src="{% static 'hnfp/img/logo_nature_conservancy.svg' %}" />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock outer_content %}

{% block extra_js %}
  {{ block.super }}
  <!-- dependencies -->
  <script src="{% static 'bower_components/jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'bower_components/jquery.bbq/jquery.ba-bbq.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
  <!-- api -->
  <script src="//maps.google.com/maps/api/js?key=AIzaSyBi-xi_EGuQYsWsT0N1F3KXbz3oqaHKfzs"></script>
  <!-- app scripts -->
  <script src="{% static 'js/lib/lodash.min.js' %}"></script>
  <script src="{% static 'js/lib/knockout-3.3.0.js' %}"></script>
  <script src="{% static 'js/lib/knockout.mapping-2.4.1.js' %}"></script>
  <script src="{% static 'js/knockout-bindings.js' %}"></script>
  <script src="{% static 'js/lib/openlayers/OpenLayers-marco-min.js' %}"></script>
  <script src="{% static 'js/controls.js' %}"></script>
  <script src="{% static 'js/contextual_menu.js' %}"></script>
  <script src="{% static 'js/fixtures.js' %}"></script>
  <script src="{% static 'hnfp/js/map.js' %}"></script>
  <script src="{% static 'js/state.js' %}"></script>
  <script src="{% static 'js/bookmarks.js' %}"></script>
  <script src="{% static 'js/scenarios.js' %}"></script>
  <script src="{% static 'js/reports.js' %}"></script>
  <script src="{% static 'js/drawing.js' %}"></script>
  <script src="{% static 'js/models.js' %}"></script>
  <script src="{% static 'js/server.js' %}"></script>
  <script src="{% static 'hnfp/js/app.js' %}"></script>
  <script src="{% static 'hnfp/js/dashboard.js' %}"></script>
{% endblock extra_js %}
