{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}
<main class="home-page">
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'hnfp/img/eagle_soar.jpg' %}">
    </div>
    <section class="row hero">
      <div class="col s10 m8 offset-s1 offset-m2">
        <h1>{{ tagline }}</h1>
        <!-- <a href="{% url 'survey' %}" class="waves-effect waves-light btn-large hide-on-large-only">{{ cta }} <i class="material-icons right">launch</i></a> -->
      </div>
    </section>
  </div>
  <section class="section white">
    <div class="section-top-bg">
      <img src="{% static 'hnfp/img/mountain_ridge_white.svg' %}" class="section-top-bg-img">
    </div>
    <div class="row container center margin-bottom">
      <a href="{% url 'survey' %}" class="waves-effect waves-light btn-large btn-border-light-blue">{{ cta }} <i class="material-icons right">navigate_next</i></a>
    </div>
  </section>
  <section class="section white padding-top">
    <div class="row container">
      <div class="col s12 flow-text">
        <h2 class="teal-text">Coming together to create a shared vision for our lands.</h2>
      </div>
      <div class="col s12 flow-text">
        <p>The Hoonah Stewards application enables community members to participate in natural resource management decisions and improve communication with land managers. By providing localized information and tools for tracking personal activities, Hoonah Stewards can share information about what is important to the community.</p>
      </div>
    </div>
  </section>
  <section class="section white padding-top">
    <div class="row container">
      <div class="col s12 left flow-text">
        <h2 class="teal-text">What can you do as a steward?</h2>
        <span>Hoonah Stewards can track their hunting and gathering, get updates about road conditions, and receive notifications about important events. Stewards can choose to share private information with land managers if they desire. If you chose to share, all personal information is masked for privacy.</span>
      </div>
    </div>
    <div class="row cta-round">
      <div class="col s6 l3 offset-l3 center">
        <a href="" class="cta-fixed-width hoverable">
          <i><img src="{% static 'hnfp/img/icons/i_clipboard.svg' %}" /></i>
          <p><strong>Take the survey that will help inform future land use decisions</strong></p>
        </a>
      </div>
      <div class="col s6 l3 center">
        <a href="" class="cta-fixed-width hoverable">
          <i><img src="{% static 'hnfp/img/icons/i_profile.svg' %}" /></i>
          <p><strong>Get notified when job opportunities related to land management arise</strong></p>
        </a>
      </div>
      <div class="col s6 l3 offset-l3 center">
        <a href="" class="cta-fixed-width hoverable">
          <i><img src="{% static 'hnfp/img/icons/i_binoculars.svg' %}" /></i>
          <p><strong>Keep track of your hunting/gathering locations, quanities, and dates</strong></p>
        </a>
      </div>
      <div class="col s6 l3 center">
        <a href="" class="cta-fixed-width hoverable">
          <i><img src="{% static 'hnfp/img/icons/i_alert_red.svg' %}" /></i>
          <p><strong>Notify/report alerts like road conditions so their repair can be prioritized</strong></p>
        </a>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax">
      <img src="{% static 'hnfp/img/ianaj-stream.jpg' %}">
    </div>
  </div>
  <section class="section white">
    <div class="section-top-bg">
      <img src="{% static 'hnfp/img/mountain_ridge_white.svg' %}" class="section-top-bg-img">
    </div>
    <div class="row container hide-on-small-only">
      <div class="col s12 flow-text">
        <h2 class="teal-text">Our shared land management plan</h2>
      </div>
      <div class="col s10 offset-s1 l12">
        <p class="flow-text">Find more information about land management activities currently underway or planned for the near future. Here you can read details about the management plans and provide feedback.</p>
        <div class="margin-bottom">
          <a href="{% url 'survey' %}" class="waves-effect waves-light btn-large btn-border-light-blue">Launch Map <i class="material-icons right">navigate_next</i></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section white">
    <div class="row container hide-on-med-and-up">
      <div class="card">
          <div class="card-image">
            <img src="{% static 'hnfp/img/ianaj-solistice.jpg' %}">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons right">launch</i></a>
          </div>
          <div class="card-content flow-text">
            <span class="card-title"><h2 class="teal-text">Our shared land management plan</h2></span>
            <p>Find more information about land management activities currently underway or planned for the near future. Here you can read details about the management plans and provide feedback.</p>
          </div>
      </div>
    </div>
  </section>
  <section class="section white padding-top">
    <div class="row container home-mid">
      <div class="col s12 flow-text">
        <h2 class="teal-text">Our Partnership</h2>
      </div>
    </div>
    <div class="home-mid container">
      {% include 'hnfp/blocks/logos.html' %}
    </div>
  </section>
  <section class="section bg_green_light padding-top section-prefooter relative">
    <div class="section-bottom-bg">
      <img src="{% static 'hnfp/img/mountain_ridge_blue.svg' %}" class="section-top-bg-img">
    </div>
  </section>
  <section class="section bg_blue_dark section-footer">

  </section>
</main>
{% endblock outer_content %}
