{% extends "base.html" %}
{% load static %}

{% block site_style %}{% endblock site_style %}

{% block icomoon %}{% endblock %}

{% block extra_head %}
  {% include 'hnfp/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block extra_css %}
  {% include 'hnfp/blocks/extra_css.html' %}
{% endblock extra_css %}

{% block header %}
  {% include 'hnfp/blocks/navbar.html' %}
{% endblock %}

{% block outer_content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Hoonah Stewards</h1>
    </div>
  </div>
{% endblock outer_content %}

{% block footer %}
  {% include 'hnfp/blocks/footer.html' %}
{% endblock footer %}

{% block extra_js %}
  {% include 'hnfp/blocks/extra_js.html' %}
{% endblock %}
