{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}
  <main class="jobs">
    <section class="container">
      {% for job in jobs %}
        <div class="row">
          <article class="job-post col s12 l8 offset-l2">
              <h5 class="center border-bottom"><a href="/job/{{ job.id }}" >{{ job.title }}</a></h5>
              <div class="job-body">
                {{ job.job_post | safe }}
              </div>
          </article>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock outer_content %}
