{% extends "hnfp/index.html" %}
{% load static %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% static '/hnfp/css/materialize_stepper.css' %}" rel="stylesheet">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-selection.v1.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
{% endblock extra_head %}

{% block header %}
<nav class="white z-depth-0" role="navigation">
  <ul class="right">
    <li>
      {% if user.is_authenticated %}
        <a href="{% url 'account:index' %}">{{ user.first_name }}</a>
      {% else %}
        <a class="waves-effect waves-light" href="#modal1"><i class="material-icons">account_circle</i></a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}

{% block outer_content %}
<main>
  <section class="section survey-intro">
    <div class="row">
      <div class="col s8 offset-s2 l4 offset-l4">
        <a href="/"><img src="{% static 'hnfp/img/logo.svg' %}" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col s2 offset-s5 border-survey-wrap"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="teal-text center">Take this 5 minute survey to activate your account</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s2 offset-s5 m1 offset-m2">
        <img src="{% static 'hnfp/img/icons/i_clipboard.svg' %}" />
      </div>
      <div class="col s1 hide-on-small-only border-right"></div>
      <div class="col s12 m8 offset-m2 flow-text">
        <p>An overview of the survey and the sign up process goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </section>

  <section class="section survey-wrap">
    <ul class="stepper horizontal">
      <li class="step active">
        {% include './survey_basic_info.html' %}
      </li>
      <li class="step">
        {% include './survey_location.html' %}
      </li>
      <li class="step">
        {% include './survey_forest_use.html' %}
      </li>
      <li class="step">
        {% include './survey_land_use_rank.html' %}
      </li>
      <li class="step">
        {% include './survey_regions.html' %}
      </li>
      <li class="step">
        <div class="step-title waves-effect">Your land use</div>
        <div class="step-content">
          <div class="row">
            <div class="step-actions col s12 l6 offset-l3">
              <button class="waves-effect waves-dark btn hoverable" type="submit">SUBMIT</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
{% endblock outer_content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static '/hnfp/js/materialize/materialize_stepper.js' %}"></script>
  <script src="{% static '/hnfp/js/form.js' %}"></script>
{% endblock extra_js %}
