{% extends "accounts/login.html" %}
{% load static %}

{% block site_style %}{% endblock site_style %}

{% block extra_head %}
  {% include 'hnfp/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block extra_css %}
  {% include 'hnfp/blocks/extra_css.html' %}
{% endblock extra_css %}


{% block header %}
  {% include 'hnfp/blocks/navbar.html' %}
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block outer_content %}

<section class="container section">
  <div class="login row">
    <div class="col s8 offset-s2">
      <form class="login-form" method="POST" action="{% url 'account:index' %}{% if next %}?next={{ next }}{% endif %}">
        {% csrf_token %}

        {{ form.as_div }}

        <div class="align-center">
            <button class="btn btn-success btn-lg" onclick='this.form.submit()'>Log in &rarr;</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="col s6 center">
        <!-- TODO <a href="{% url 'account:forgot_password' %}">Forgot password</a> -->
      </div>
      <div class="col s6 center">
        <a href="{% url 'survey' %}">Become a steward</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
  {% include 'hnfp/blocks/footer.html' %}
{% endblock footer %}

{% block extra_js %}
  {% include 'hnfp/blocks/extra_js.html' %}
{% endblock %}
