{% load static %}
  {% if user.is_authenticated %}
    <nav role="navigation" class="nav-extended white">
      <div class="nav-wrapper">
        <a id="logo-container" href="/" class="brand-logo">
          <img src="{% static 'hnfp/img/logo.svg' %}" />
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <div class="userView">
              <a href="{% url 'account:index' %}"><!-- <img class="circle" src="{% static 'hnfp/img/.png' %}"> --> Hi {{ user.first_name }}</a>
            </div>
          </li>
          <li><a href="{% url 'account:logout' %}">Sign out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a class="subheader" href="{% url 'account:index' %}">Hi {{ user.first_name }}</a></li>
          <li><div class="divider"></div></li>
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'dashboard' %}">My Maps</a></li>
          <li><a href="{% url 'dashboard' %}">Alerts</a></li>
          <li><a href="{% url 'dashboard' %}">Land Use Map (coming soon)</a></li>
          <li><a href="{% url 'dashboard' %}">Land Use Forum (coming soon)</a></li>
          <li><div class="divider"></div></li>
          <li><a href="{% url 'account:logout' %}">Sign out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>

      <div class="nav-content hide-on-med-and-down">
        <ul class="tabs">
          <li class="tab blue_dark"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="tab"><a href="{% url 'dashboard' %}">My Maps</a></li>
          <li class="tab"><a href="{% url 'dashboard' %}">Alerts</a></li>
          <li class="tab disabled"><a href="{% url 'dashboard' %}">Land Use Map</a></li>
          <li class="tab"><a href="{% url 'dashboard' %}">Land Use Forum</a></li>
        </ul>
      </div>
    </nav>
  {% else %}
    <nav role="navigation" class="white">
      <div class="nav-wrapper">
        <a id="logo-container" href="/" class="brand-logo">
          <img src="{% static 'hnfp/img/logo.svg' %}" />
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <div class="userView">
              <a class="waves-effect waves-light" href="{% url 'login' %}">Log in</a>
            </div>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a class="waves-effect waves-light" href="{% url 'login' %}">Log in</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  {% endif %}
</nav>
