{% load static %}
<nav class="white" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="{% static 'hnfp/img/logo.svg' %}" /></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="black-text">Navbar Link</a></li>
      <li>
        {% if user.is_authenticated %}
          <a href="{% url 'account:index' %}">{{ user.first_name }}</a>
        {% else %}
          <a href="{% url 'account:index' %}"><img class="circle" src="hnfp/img/joe.png"></a>
        {% endif %}
      </li>
    </ul>


    <ul id="nav-mobile" class="side-nav">
      {% if user.is_authenticated %}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/map">My Maps</a></li>
        <li><a href="/alert">Alerts</a></li>
        <li><a href="/landuse">Land Use Map</a></li>
        <li><a href="/landuse">Land Forum</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Profile</a></li>
        <li>
          <div class="userView">
            <a href="{% url 'account:index' %}"><img class="circle" src="{% static 'hnfp/img/joe.png' %}"></a>
            <a href=""><span class="white-text name">{{ user.first_name }}</span></a>
          </div>
        </li>
      {% else %}
        <li><a class="waves-effect waves-light" href="#modal1">Log in</a></li>
        <li><a class="waves-effect waves-light" href="#modal1">Become A Hoonah Steward</a></li>
      {% endif %}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
