{% load static %}
<nav class="white" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="{% static 'hnfp/img/logo.svg' %}" /></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="black-text">Navbar Link</a></li>
      <li>
        {% if user.is_authenticated %}
          <a href="{% url 'account:index' %}">{{ user.first_name }} <span class="fa fa-user"></span></a>
        {% else %}
          <a class="waves-effect waves-light" href="#modal1">log in</a>
        {% endif %}
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
      <li>
        {% if user.is_authenticated %}
          <a href="{% url 'account:index' %}">{{ user.first_name }} <span class="fa fa-user"></span></a>
        {% else %}
          <a class="waves-effect waves-light" href="#modal1">log in</a>
        {% endif %}
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
