{% load static %}
<form id="new-observation-form">
  <div class="row">
      <div class="row">
        <div class="input-field col s12 m6">
          <select class="icons">
            <option value="" disabled selected>Add to map</option>
            <option value="bear" data-icon="{% static 'hnfp/img/icons/i_bear.svg' %}" class="left circle">Bear</option>
            <option value="deer" data-icon="{% static 'hnfp/img/icons/i_deer.svg' %}" class="left circle">Deer</option>
            <option value="shrimp" data-icon="{% static 'hnfp/img/icons/i_shrimp.svg' %}" class="left circle">Shrimp</option>
          </select>
          <label>Add to map</label>
        </div>
        <div id="date-picker" class="section scrollspy">
          <input type="text" class="datepicker">
        </div>
        <div id="time-picker" class="section scrollspy">
          <input type="text" class="timepicker">
        </div>
        <div class="input-field col s12 l6">
          <input id="last_name" type="textare" class="validate" name="lname" autocomplete="family-name" required>
          <label for="last_name">Notes</label>
        </div>
      </div>
    </div>
  </div>
</from>
