{% load static %}
<form action="/alert/create/" method="POST">
  <section>
    <section id="stepone" class="alert-location visible card">
      <div class="card-content">
        <span class="center card-title">Add entry</span>
      </div>
      <div class="card-action">
        <a onclick="alerts.close()" class="cancel">Cancel</a>
        <a onclick="alerts.startNew()" class="btn next btn-border-light-blue" id="start-alert">Start</a>
      </div>
    </section>
    {% csrf_token %}
    <section id="steptwo" class="card">
      <div class="card-content">
        <span class="center card-title">Alert Location</span>
      </div>
      <div class="card-action">
        <a id="use-my-location"><i class="material-icons">my_location</i>Use Current</a>
        <a id="choose-from-map"><i class="material-icons">pin_drop</i>Choose From Map</a>
      </div>
    </section>
    <section id="stepthree" class="card">
      <div class="card-content">
        <span class="center card-title">Move Marker to Adjust Point</span>
      </div>
      <div class="card-action">
        <a onclick="alerts.close()" class="cancel">Cancel</a>
        <a id="loc-correct" class="btn next btn-border-light-blue">NEXT</a>
      </div>
    </section>
    <section id="stepchangeloc" class="card">
      <div class="card-content">
        <span class="center card-title">Move Marker to Adjust Point</span>
      </div>
      <div class="card-action">
        <a onclick="alerts.locOkay()" class="cancel">Cancel</a>
        <a id="loc-change" class="btn next btn-border-light-blue">Set Location</a>
      </div>
    </section>
    <section id="stepfour" class="card">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s5" id="input-field-location">
              <input type="text" id="alert_location" name="alert_location" val="" />
          </div>
          <div class="input-field col s7">
            <a onclick="alerts.backStepThree()" class="btn small-btn btn-border-light-blue">Change Location</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 relative">
            <select class="browser-default" name="alert_type" required>
              <option value="">Choose Alert Type</option>
              <option value="alert" class="circle">Shellfish</option>
              <option value="gather" class="circle">Road Washout</option>
              <option value="other" class="circle">Other</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn disabled small-btn btn-border-light-blue">
              <span>Choose File</span>
              <input type="file" disabled id="alert_photo" name="alert_photo" >
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Image(s)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="alert_comment" name="alert_comment" class="materialize-textarea"></textarea>
            <label for="alert_comment">Comments</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <input placeholder="Date" id="alert_date" name="alert_date" type="text" class="datepicker">
          </div>
          <div class="col s6">
            <input placeholder="Time" id="alert_time" name="alert_time" type="text" class="timepicker">
          </div>
        </div>
      </div>
      <div class="card-action">
        <input type="hidden" id="uid_time" name="uid_time" />
        <div class="input-field center">
          <button type="submit" class="btn" name="submit">Add to Map</button>
        </div>
      </div>
    </section>
  </section>
</form>
