{% extends "hnfp/index.html" %}
{% load static %}

{% block title %}Hoonah Stewards{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'hnfp/css/openlayers/ol.css' %}" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'hnfp/css/openlayers/layerswitcher.css' %}" media="screen,projection"/>
{% endblock extra_css %}

{% block outer_content %}
<main class="observations">
  <div class="hero-bg">&nbsp;</div>
  <section class="container">
    <div class="row">
      <div class="col s8 l9">
        <h5>{{ title }} {{ year }}</h5>
      </div>
      <div class="col s4 l3">
        <select class="browser-default">
          <option value="2017">2017</option>
          <option value="">No Previous years availble</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">play_arrow</i>Legend</div>
            <div class="collapsible-body">
              {% include './blocks/observation_icons.html' %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container map-container">
    <div id="map-wrapper">
      <div id="map" class="map"></div>
      <div id="new-observation">
        <form id="drawing-form" method="post" action="/observtion/create/"></form>
      </div>
    </div>
  </section>
  <section class="section container">
    <div class="row">
      <div class="relative height">
        <div class="col s12">
          <a id="add-observation-btn" class="btn btn-border-light-blue add-btn"><i class="material-icons">add_circle</i> Add to Map</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="switch">
          <label>
            Off
            <input type="checkbox" name="datashare" id="datashare">
            <span class="lever"></span>
            On
          </label>
        </div>
        <p>Share with land managers<br /><em>Your information will be anonymized</em></p>
    </div>
  </section>
</main>
{% endblock outer_content %}

{% block extra_js %}
  {{ block.super }}
  {% block custom_marco_ol3 %}{% endblock %}
  {% block mp_js %}
    <script src="{% static 'hnfp/js/openlayers/ol.js' %}"></script>
    <script src="{% static 'hnfp/js/openlayers/layerswitcher.js' %}"></script>
    <script>
      var user_observations = {{ user_observations|safe }};
    </script>
    <script src="{% static 'hnfp/js/map.hnfp.js' %}"></script>
  {% endblock mp_js %}
  <script src="{% static 'hnfp/js/observations.js' %}"></script>
{% endblock extra_js %}
