{% extends "hnfp/index.html" %}
{% load comments comments_xtd %}

{% block outer_content %}
<main class="forum">
  <div class="hero-bg">&nbsp;</div>
  <section class="container section">
    <div class="row">
      {% for object in object_list %}
        <article class="col s12 l8 offset-l2">
          <h4>
            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
          </h4>
          <p class="date"><em>{{ object.publish }}</em></p>
          <p>{{ post.body|linebreaks }}</p>
          {% get_comment_count for object as comment_count %}
          <div class="text-center" style="padding-top:20px">

            &nbsp;&sdot;&nbsp;
            {{ comment_count }} comments have been posted.
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
  <section class="section container center">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li>
  	     <a href="{% url 'blog:post-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li>
  	     <a href="{% url 'blog:post-list' %}?page={{ page_obj.next_page_number }}">next</a>
      </li>
      {% endif %}
    </ul>
  </section>
  <section class="section container">
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <a href="/dashboard/" class="waves-effect waves-dark btn btn-border-light-blue"><i class="material-icons right">navigate_before</i> Back To Dashboard</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
