<div class="step-title waves-effect">Regions &amp; Frequency</div>
<div class="step-content">
  <div class="row">
    <h5 class="flow-text">Which area(s) within the Hoonah Forest have you been to within the last year?</h5>
    <p class="flow-text"><em>Select one region at a time and answer follow up questions</em></p>
    <br />
    <div class="col s12">
      <img src="/static/hnfp/hnfp/img/watersheds.svg" />
    </div>

  </div>
  <div class="row">
    {% include './survey_actions.html' %}
  </div>
</div>
