<div class="step-title waves-effect">Location</div>
<div class="step-content">
  <div class="row">
    <div class="input-field col s12 l6">
      <input id="city" type="text" class="validate">
      <label for="city">city</label>
    </div>
    <div class="input-field col s12 l6">
      <input id="state" type="text" class="validate">
      <label for="state">state</label>
    </div>
    <div class="input-field col s12 l6">
      <input id="zip" type="number" class="validate">
      <label for="zip">zip</label>
    </div>
  </div>
  <div class="step-actions">
    <button class="waves-effect waves-dark btn next-step">Next <i class="material-icons right">chevron_right</i></button>
    <button class="waves-effect waves-dark btn-flat previous-step"><i class="material-icons left">chevron_left</i> Previous</button>
  </div>
</div>
