{% extends "hnfp/index.html" %}
{% load static %}

{% block outer_content %}
<main>
  <section class="section welcome_steward">
    <div class="row">
      <h2 class="center">{{ title }}</h2>
      <p class="center">You are now a Hoonah Steward</p>
    </div>
    <div class="row">
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_user.svg' %}" /></i>
        <p class="flow-text"><strong>Head to your Dashboard</strong></p>
      </div>
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_checklist.svg' %}" /></i>
        <p class="flow-text"><strong>Search for Jobs</strong></p>
      </div>
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_binoculars.svg' %}" /></i>
        <p class="flow-text"><strong>Make your own Hunting/Gathering Map</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_alert_white.svg' %}" /></i>
        <p class="flow-text"><strong>View &amp; Report Road Conditions</strong></p>
      </div>
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_comment.svg' %}" /></i>
        <p class="flow-text"><strong>Contribute to the Forum</strong></p>
      </div>
      <div class="col s4 l4 center">
        <i><img src="{% static 'hnfp/img/icons/i_rain.svg' %}" /></i>
        <p class="flow-text"><strong>View Weather Conditions &amp; Alerts</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h2 class="teal-text center"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col s2 offset-s5 m1 offset-m2">
        <img src="{% static 'hnfp/img/icons/i_clipboard.svg' %}" />
      </div>
      <div class="col s1 hide-on-small-only border-right"></div>
      <div class="col s12 m8 offset-m2 flow-text">
        <p>An overview of the survey and the sign up process goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </section>

  <section class="section survey-wrap">
    <ul class="stepper horizontal">
      <li class="step active">
        {% include './survey_basic_info.html' %}
      </li>
      <li class="step">
        {% include './survey_location.html' %}
      </li>
      <li class="step">
        {% include './survey_forest_use.html' %}
      </li>
      <li class="step">
        {% include './survey_land_use_rank.html' %}
      </li>
      <li class="step">
        {% include './survey_regions.html' %}
      </li>
      <li class="step">
        {% include './survey_your_profile_1.html' %}
      </li>
      <li class="step">
        {% include './survey_your_profile_2.html' %}
      </li>
      <li class="step">
        <div class="step-title waves-effect">Finish &amp; Submit</div>
        <div class="step-content">
          <div class="row">
            <div class="step-actions col s12 l6 offset-l3">
              <button class="waves-effect waves-dark btn next-step hoverable" id="submit-form" type="submit">Finish &amp; Submit</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
{% endblock outer_content %}
