{% load static %}

{% block extra_head %}
  <meta name="theme-color" content="#009688">
  <meta name="description" content="Hoonah Native Forest Partnership">
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <meta name="referrer" content="same-origin">

  <!-- Links to a JSON file that specifies "installation" credentials for web applications
  <link rel="manifest" href="/manifest.json" type="application/manifest+json"> -->

  <!-- iOS Add to Home Screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="apple-mobile-web-app-title" content="HNFP">
  <link rel="apple-touch-icon" href="{% static 'hnfp/img/touch/homescreen152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hnfp/img/touch/homescreen180.png' %}">
  <link rel="apple-touch-icon" sizes="128x128" href="{% static 'hnfp/img/touch/homescreen128.png' %}">
  <meta name="msapplication-TileImage" content="{% static 'hnfp/img/touch/homescreen144.png' %}">
  <meta name="msapplication-TileColor" content="#009688">

  <!-- Android -->
  <meta name="theme-color" content="#E64545">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{% static 'hnfp/img/touch/homescreen192.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'hnfp/img/touch/homescreen128.png' %}">

  <!-- install service worker -->
  <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js')
              .then(function(response) {
                  console.log('ServiceWorker registration successful with scope: %o', response);
                })
                .catch(function(response) {
                  console.log('ServiceWorker registration failed: ', response);
                });
        });
      }
  </script>
{% endblock %}
