{% load static %}

{% block extra_head %}
  <meta name="theme-color" content="#009688">
  <meta name="description" content="Hoonah Native Forest Partnership">
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <!-- Links to a JSON file that specifies "installation" credentials for web applications -->
  <link rel="manifest" href="/manifest.json" type="application/manifest+json">
  
  <!-- iOS Add to Home Screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="App Title">
  <link rel="apple-touch-icon" sizes="128x128" href="{% static 'hnfp/img/touch/homescreen128.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{% static 'hnfp/img/touch/homescreen128.png' %}">

  <!-- Android -->
  <meta name="theme-color" content="#E64545">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{% static 'hnfp/img/touch/homescreen192.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'hnfp/img/touch/homescreen128.png' %}">
{% endblock %}
