{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.css">
  <link rel="stylesheet" href="{% static 'hnfp/css/d3/billboard.min.css' %}" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'hnfp/css/materialize.css' %}" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'hnfp/css/openlayers/layerswitcher.css' %}" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'hnfp/css/style.css' %}" media="screen,projection"/>
{% endblock %}
