{% load static %}
<div class="row logo-row">
  <div class="col center s4 l2">
    <a href="http://www.adfg.alaska.gov/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_adfg.png' %}" class="responsive-img lazy-image" alt="Alaska Department of Fish and Game" /></a>
  </div>
  <div class="col center s4 l3">
    <a href="http://www.cityofhoonah.org/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_cityofhoonah.jpg' %}" class="responsive-img lazy-image hoonah-logo" alt="city of Hoonah" /></a>
  </div>
  <div class="col center s4 l2">
    <a href="http://www.hiatribe.org/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_hia.jpg' %}" class="responsive-img lazy-image" alt="Hoonah Tribe" /></a>
  </div>
  <div class="col center s4 l3">
    <a href="http://www.hunatotem.com/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_hoonahtotem.jpg' %}" class="responsive-img lazy-image" alt="Huna Totem" /></a>
  </div>
  <div class="col center s4 l2">
    <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/site/ak/home/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_nrcs.svg' %}" class="responsive-img lazy-image" alt="United States Department of Agriculture" /></a>
  </div>
  <div class="col center s4 l3">
    <a href="https://www.sealaska.com/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_sealaska.jpg' %}" class="responsive-img lazy-image" alt="Sealaska" /></a>
  </div>
  <div class="col center s4 l3">
    <a href="https://www.nature.org/ourinitiatives/regions/northamerica/areas/emeraldedge/"><img data-src="{% static 'hnfp/img/logo_tnc.svg' %}" class="responsive-img lazy-image" alt="The Nature Conservancy"/></a>
  </div>
  <div class="col center s4 l3">
    <a href="http://www.uaf.edu/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_uaf.svg' %}" class="responsive-img lazy-image" alt="University of Alaska Fairbanks" /></a>
  </div>
  <div class="col center s4 l3">
    <a href="https://www.fs.fed.us/" target="_blank" rel="noopener"><img data-src="{% static 'hnfp/img/logo_usfs.svg' %}" class="responsive-img lazy-image" alt="United States Forest Service" /></a>
  </div>
</div>
<div class="row center-align">
  <div class="col center s6 l3">
    <p>Made by:</p>
    <a href="https://ecotrust.org"><img data-src="{% static 'hnfp/img/logo_ecotrust.svg' %}" class="logo-ecotrust" alt="ecotrust" /></a>
  </div>
</div>
