{% load static %}
<div class="row logo-row">
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_adfg.png' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_cityofhoonah.jpg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_hia.jpg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_hoonahtotem.jpg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_nrcs.svg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_sealaska.jpg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_tnc.svg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_uaf.svg' %}" class="responsive-img" />
  </div>
  <div class="col center s12 m6 l4">
    <img src="{% static 'hnfp/img/logo_usfs.svg' %}" class="responsive-img" />
  </div>
</div>
<div class="row center-align">
  <div class="col center s6 l3">
    <p>Made by:</p>
    <a href="https://ecotrust.org"><img src="{% static 'hnfp/img/logo_ecotrust.svg' %}" class="logo-ecotrust" /></a>
  </div>
</div>
