{% load static %}
<nav role="navigation" class="{% if user.is_authenticated %}nav-extended{% endif %} white">
    <div class="nav-wrapper">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="{% static 'hnfp/img/logo.svg' %}" alt="logo" />
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <div class="userView">
                    {% if user.is_authenticated %}
                        <a href="/account/"><!-- <img class="circle" src="{% static 'hnfp/img/.png' %}"> --> {{ user.username }}</a>
                    {% else %}
                        <a class="waves-effect waves-light" href="/login/">Log in</a>
                    {% endif %}
                </div>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account:logout' %}">Sign out</a></li>
            {% endif %}
        </ul>
        <ul id="nav-mobile" class="side-nav show-on-small">
            {% if user.is_authenticated %}
                <li><a class="btn btn-flat" href="/account/"><i class="material-icons left">perm_identity</i>{{ user.username }}</a></li>
                <li><div class="divider"></div></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'observation' %}">My Maps</a></li>
                <li><a href="{% url 'alert' %}">Alerts</a></li>
                <li><a href="{% url 'landuse' %}">Land Use Map</a></li>
                <li><a href="/forum/">Land Use Forum</a></li>
                <li><div class="divider"></div></li>
                <li><a href="/account/sign_out/">Sign out</a></li>
            {% else %}
                <li><a class="waves-effect waves-light" href="/login/">Log in</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
    </div>
    {% if user.is_authenticated %}
        <div class="nav-content hide-on-med-and-down">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'observation' %}">My Maps</a>
            <a href="{% url 'alert' %}">Alerts</a>
            <a href="{% url 'landuse' %}">Land Use Map</a>
            <a href="/forum/">Land Use Forum</a>
        </div>
    {% endif %}
</nav>
