<div class="collapsible-header active">Basic Information</div>
<div class="collapsible-body">
  <p>Create your account</p>
  <div class="row">
    <div class="input-field col s6 l4">
      <input id="first_name" type="text" class="validate" autocomplete="given-name" name="first_name" required>
      <label for="first_name">first name</label>
    </div>
    <div class="input-field col s6 l4">
      <input id="last_name" type="text" class="validate" autocomplete="family-name" name="last_name" required>
      <label for="last_name">last name</label>
    </div>
    <div class="input-field col s6 l4">
      <input id="phone" type="tel" class="validate" autocomplete="tel" name="phone">
      <label for="phone" data-error="not a valid email" data-success="looks good" name="phone">phone</label>
    </div>
    <div class="input-field col s9 l7">
      <input id="email" type="email" class="validate" autocomplete="email" name="email" required>
      <label for="email" data-error="not a valid email" data-success="looks good">email</label>
    </div>
    <div class="input-field col s9 l7">
      <input id="id_password" type="password" class="validate" autocomplete="new-password" name="password" required>
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12 l8">
        <button id="btn-register" class="waves-effect waves-dark btn btn-large next-step" type="submit">Create Account <i class="material-icons right">navigate_next</i></button>
    </div>
  </div>
  <!-- <div class="g-recaptcha" data-sitekey="6Lc30ScUAAAAAE64HuxC_zXrUlEuZxIlZy-WFYf-"></div> -->
</div>
