<div class="step-title waves-effect">Your Profile</div>
<div class="step-content">
  <div class="row">
    <div class="input-field col s12 l8">
      <input id="occupation" type="text" class="validate" autocomplete="">
      <label for="occupation">What is your occupation?</label>
    </div>
    <div class="file-field input-field col s12 l8">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" id="profile-photo" name="profile-photo">
      </div>
    </div>
  </div>
  <div class="row">
    {% include './survey_actions.html' %}
  </div>
</div>
