<div class="collapsible-header active">Your Profile</div>
<div class="collapsible-body">
  <div class="row">
    <div class="col s12 l8 offset-l1">
      <h6>What is your occupation?</h6>
      <div class="input-field">
        <input id="occupation" name="occupation" type="text">
        <label for="occupation">Occupation</label>
      </div>
    </div>
    <!-- <div class="col s12 l8 offset-l1">
      <h6>Add a profile photo</h6>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" id="profile-photo" name="profile-photo">
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    {% include './survey_actions.html' %}
  </div>
</div>
