<div class="step-title waves-effect">Your Land Use</div>
<div class="step-content survey-land-use-warp">
  <h6>You regularly go to Hoonah Forest to:</h6>
  <p><em>Select ALL that apply</em></p>
  <br />
  <div class="row indent">
    {% for use in uses_list %}
      <div class="col s6 l5">
        <input type="checkbox" class="filled-in" id="{{ use }}" name="forest_use" value="{{ use }}" required />
        <label for="{{ use }}">{{ use }}</label>
      </div>
    {% endfor %}
  </div>
  <div class="row indent">
    {% include './survey_actions.html' %}
  </div>
</div>
