<div class="step-title waves-effect">Your Land Use</div>
<div class="step-content survey-land-use-warp">
  <h6>You regularly go to Hoonah Forest to:</h6>
  <em>Select ALL that apply</em>
  <p>
    <input type="checkbox" class="filled-in" id="hunt" name="forest_use" value="hunt_deer" />
    <label for="hunt">Hunt Deer</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" id="gather_herbs" name="forest_use" value="gather_herbs"/>
    <label for="gather_herbs">Gather Medicinal Herbs</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" id="fish" name="forest_use" value="fish" />
    <label for="fish">Fish</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" id="berries" name="forest_use" value="collect_berries" />
    <label for="berries">Collect Berries</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" id="mushrooms" name="forest_use" value="gather_mushrooms" />
    <label for="mushrooms">Gather Mushrooms</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" id="firewood" name="forest_use" value="collect_firewood"/>
    <label for="firewood">Collect Firewood</label>
  </p>
  {% include './survey_actions.html' %}
</div>
