<div class="collapsible-header active">Your Profile</div>
<div class="collapsible-body">
  <div class="row indent">
    <div class="col s12 l6">
      <h6>How do you identify?</h6>
      <div class="indent">
        <p>
          <input type="radio" name="gender" id="female" value="female" />
          <label for="female">Female</label>
        </p>
        <p>
          <input type="radio" name="gender" id="male" value="male" />
          <label for="male">Male</label>
        </p>
        <p>
          <input type="radio" name="gender" id="non-binary" value="non-binary" />
          <label for="non-binary">Non binary</label>
        </p>
        <input type="radio" name="gender" value="" checked style="opacity: 0;" />
      </div>
    </div>
    <div class="col s12 l6">
      <h6>Does your employment rely on the Hoonah Forest?</h6>
      <div class="indent">
        <p>
          <input type="radio" name="employment_forest_dependent" id="yes" value="yes" />
          <label for="yes">Yes</label>
        </p>
        <p>
          <input type="radio" name="employment_forest_dependent" id="no" value="no" />
          <label for="no">No</label>
        </p>
        <p>
          <input type="radio" name="employment_forest_dependent" id="noinput" value="rather not say" required />
          <label for="noinput">Rather not say</label>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    {% include './survey_actions.html' %}
  </div>
</div>
