<div class="step-title waves-effect">Activities Rank</div>
<div class="step-content">
  <h6>Rank the following activities 1 - 5 according to importance to you with 1 being most important</h6>
  <div class="row">
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_hunt" name="rank_hunt" />
        <label for="rank_hunt">Hunt Deer</label>
      </p>
    </div>
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_gather_herbs" name="rank_gather_herbs" />
        <label for="rank_gather_herbs">Gather Herbs</label>
      </p>
    </div>
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_fish" name="rank_fish" />
        <label for="rank_fish">Fish</label>
      </p>
    </div>
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_collect_berries" name="rank_collect_berries" />
        <label for="rank_collect_berries">Collect Berries</label>
      </p>
    </div>
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_gather_mushrooms" name="rank_gather_mushrooms" />
        <label for="rank_gather_mushrooms">Gather Mushrooms</label>
      </p>
    </div>
    <div class="col s12 l6">
      <p class="range-field">
        <input type="range" min="1" max="5" step="1" id="rank_collect_firewood" name="rank_collect_firewood" />
        <label for="rank_collect_firewood">Collect Firewood</label>
      </p>
    </div>
    {% include './survey_actions.html' %}
  </div>
</div>
