{% load static %}

<div class="step-title waves-effect">Regions &amp; Frequency</div>
<div class="step-content">
  <h6>Which area(s) within the Hoonah Forest have you been to within the last year?</h6>
  <em>Select one region at a time and answer follow up questions</em>
  <br />
  <div class="row">
    <div class="col s12 map-wrap">
      <div id="map-wrapper">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="row">
    {% include './survey_actions.html' %}
  </div>
</div>
