<div class="step-title waves-effect">Address</div>
<div class="step-content">
  <div class="row">
    <div class="input-field col s12 l8">
      <input id="address" type="text" class="validate" autocomplete="address-line1">
      <label for="address">Street Address</label>
    </div>
    <div class="input-field col s4 l4">
      <input id="address2" type="text" class="validate" autocomplete="address-line2">
      <label for="address2">Unit</label>
    </div>
    <div class="input-field col s8 l6">
      <input id="city" type="text" class="validate" autocomplete="city">
      <label for="city">City</label>
    </div>
    <div class="input-field col s5 l6">
      <input id="state" type="text" class="validate" autocomplete="state" value="AK">
      <label for="state">State</label>
    </div>
    <div class="input-field col s7 l6">
      <input id="zip" type="number" class="validate" autocomplete="postcode">
      <label for="zip">Zip</label>
    </div>
    {% include './survey_actions.html' %}
  </div>
</div>
