{% extends "base.html" %}
{% load static %}

{% block icomoon %}{% endblock %}

{% block extra_head %}
  {% include 'hnfp/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block extra_css %}
  {% include 'hnfp/blocks/extra_css.html' %}
{% endblock extra_css %}

{% block header %}
  {% include 'hnfp/blocks/navbar.html' %}
{% endblock header %}

{% block outer_content %}
<main>
  {{ block.super }}
</main>
{% endblock outer_content %}

{% block footer %}
  {% include 'hnfp/blocks/footer.html' %}
{% endblock %}

{% block extra_js %}
  {% include 'hnfp/blocks/extra_js.html' %}
{% endblock %}
