/*--------------------
  fonts
  --------------------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/hnfp/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/static/hnfp/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('/static/hnfp/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('/static/hnfp/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*--------------------
  colors
  --------------------*/

.black {
  color: #000;
}

.red {
  color: #d53f38;
}

.teal {
  color: #57a6a2;
}
.bg-teal {
  background: #57a6a2;
}

.green_light {
  color: #e4efee;
}

.blue_grey {
  color: #5d85b7;
}

.blue_dark {
  color: #2b384a;
}

.magenta {
  color: #9e005d;
}

/*--------------------
  global
  --------------------*/

body {
  font-family: 'function', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

main,
.container,
section,
div {
  font-size: 1.125em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'function', sans-serif;
  font-weight: 700;
  line-height: 1.375;
  margin: 0 0 .5em;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

nav *,
nav .brand-logo,
nav a,
nav ul li a {
  color: #000;
}

#logo-container.brand-logo {
  padding: 15px 0;
}

  .brand-logo img {
    display: inline-block;
    height: 26px;
  }

/*--------------------
  home
  --------------------*/

.parallax-container {
  height: 42vh;
  width: 100%;
}

.hero {
  color: #fff;
  padding-top: 8%;
  text-align: center;
}

  .hero h2 {
    text-align: justify;
  }

.section-top-bg {
    position: relative;
}

  .section-top-bg-img {
    left: -25%;
    position: absolute;
    top: -50px;
    width: 200%;
    z-index: -1;
  }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.home-mid .col {
  margin-bottom: 2em;
}

/*--------------------
  survey
  --------------------*/

.survey-intro h2 {
  margin: 0;
}

.border-survey-wrap {
  border-bottom: 3px solid #2b384a;
}

.survey-wrap {
  background: rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.survey-wrap:before,
.survey-wrap:after {
  content: '';
  position: absolute;
}

.survey-wrap:before {
  background-image: url('/static/hnfp/hnfp/img/aurora@2x.png');
  background-size: cover;
  background-attachment: local;
  background-position: 50%;
  bottom: -14%;
  left: -5%;
  right: -5%;
  top: -5%;
  z-index: -1;
}

.survey-wrap:after {
  background-image: url('/static/hnfp/hnfp/img/mountain_ridge_blue.svg');
  background-size: cover;
  bottom: -10%;
  height: 25%;
  left: -10%;
  right: -10%;
  width: 150%;
  z-index: -1;
}

.survey-wrap input {
  background: rgba(255,255,255,0.5);
}

.survey-wrap h5 {
  font-weight: 700;
}

.survey-wrap em {
    font-size: .8125em;
}

.survey-wrap .inline {
  display: inline-block;
}

.step.active,
.input-field label,
.input-field input:focus + label.active,
.survey-wrap ul.stepper .step {
  color: #fff;
}

.survey-wrap .input-field input:focus,
.survey-wrap .input-field input {
  border-bottom: none;
  padding-left: 4px;
}

.survey-wrap .input-field label {
  text-indent: 5px;
}

.survey-wrap ul.stepper .step:before {
  background-color: rgba(255,255,255,0.4);
  color: #000;
}

.survey-wrap ul.stepper .step.done {
  color: #ccc;
}

.survey-wrap ul.stepper .step.active:before {
  background: rgba(255,255,255,0.75);
  color: #000;
}

.survey-wrap ul.stepper .step.done:before {
  background: rgba(255,255,255,0.75);
  color: #57a6a2;
}

.survey-wrap ul.stepper .step.active .step-title {
  font-weight: 700;
  font-size: 1.3125em;
  line-height: 1;
}

.step-actions .btn,
.previous-step {
  font-size: .75em;
  height: auto;
  line-height: 2.5;
  text-transform: none;
}

.step-actions .btn i {
  font-size: 1.375em;
  line-height: 1.8125;
}

.next-step {
  background: transparent;
  border: 3px solid #fff;
}

.previous-step {
    color: #aaa;
}

.survey-wrap .input-field label:not(.label-icon).active {
  font-size: .6125em;
  transform: translate(-4px,-150%);
}

.survey-wrap input[type="checkbox"] + label {
  color: #fff;
}

.survey-wrap input[type="checkbox"]:not(.filled-in) + label:after,
[type="checkbox"].filled-in:not(:checked) + label:after {
  border: 2px solid #fff;
}

.survey-wrap input[type="checkbox"] + label:before {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.survey-wrap .inline-label label {
  color: #fff;
  font-size: .75em;
  line-height: 3rem;
  margin-left: 5px;
}

svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: #aaa;
  stroke: #fff;
}

#imgmap-img,
#imgmap {
  width: 100%
}

.cta-fixed-width {
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 700;
    height: 31vw;
    margin: 0 auto;
    text-align: center;
    width: 31vw;
}

.welcome_steward p {
  font-size: .5em;
  font-weight: 700;
  line-height: 1.125;
  margin: 0 10%;
}

.cta-round {
  text-align: center;
}

.cta-round img {
    display: block;
    height: 26%;
    margin: 16% auto 8%;
    width: auto;
}

/*--------------------
  media queries mq
  --------------------*/

@media only screen and (min-width: 48em) {

  .section-top-bg-img {
    left: -25%;
    top: -68px;
    width: 150%;
  }

  .hero h2 {
    text-align: center;
  }

}

@media only screen and (min-width: 64em) {
  .section-top-bg-img {
    left: -10%;
    top: -74px;
    width: 120%;
  }
}
