/*--------------------
  fonts
  --------------------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/hnfp/fonts/material/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/static/hnfp/fonts/material/MaterialIcons-Regular.woff2') format('woff2'),
       url('/static/hnfp/fonts/material/MaterialIcons-Regular.woff') format('woff'),
       url('/static/hnfp/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'function';
  font-style: normal;
  font-weight: normal;
  src: local('function'),
       local('function_regular'),
       url('/static/hnfp/fonts/function/function.woff2') format('woff2'),
       url('/static/hnfp/fonts/function/function.woff') format('woff');
}

@font-face {
  font-family: 'function_bold';
  font-style: normal;
  font-weight: 700;
  src: local('function'),
       local('function_regular'),
       url('/static/hnfp/fonts/function/function_bold.woff2') format('woff2'),
       url('/static/hnfp/fonts/function/function_bold.woff') format('woff');git
}

/*--------------------
  materialize overrides
  --------------------*/
.clockpicker-canvas {
  overflow: hidden !important;
}

/*--------------------
  colors
  --------------------*/

.black {
  color: #000;
}

.red {
  color: #d53f38;
}

.teal {
  color: #57a6a2;
}
.bg-teal {
  background: #57a6a2;
}

.green_light {
  color: #e4efee;
}

.bg_green_light {
    background: #e4efee;
}

.blue_grey {
  color: #5d85b7;
}
.bg_blue_grey {
  background:#5d85b7;
}

.blue_dark {
  color: #2b384a;
}
.bg_blue_dark {
  background: #2b384a;
}

.blue_light {
  color: #dfeceb;
}
.bg_blue_light {
  background: #dfeceb;
}

.magenta {
  color: #9e005d;
}

/*--------------------
  global
  --------------------*/

body {
  color: #2b384a;
  font-family: 'function', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

main,
.container,
section,
div {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'function_bold', sans-serif;
  font-weight: normal;
  line-height: 1.375;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.4375em;
}
h5 {
  font-size: 1.3125em;
}
h6 {
  font-family: 'function', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  margin: 0 0 .75em;
}

strong {
  font-family: 'function_bold', sans-serif;
  font-weight: normal;
}

p {
  margin: 0 0 1.5rem;
}

.block {
  display: block;
}

.full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.relative.height {
  height: 70px;
}

.absolute {
  position: absolute;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.padding-top {
  padding-top: 3rem;
}

.btn-border-blue,
.btn-border-light-blue,
.btn-border-blue-grey {
  background: transparent;
  border: 3px solid #2b384a;
  color: #2b384a;
  font-family: 'function_bold', sans-serif;
  font-size: 1.06125em;
  height: auto;
  text-transform: none;
}

.btn-border-blue:hover, .btn-border-light-blue:hover, .btn-border-blue-grey:hover, .btn-border-blue:active, .btn-border-light-blue:active, .btn-border-blue-grey:active, .btn-border-blue:focus, .btn-border-light-blue:focus, .btn-border-blue-grey:focus {
  background: transparent;
}

.btn-border-blue, .btn-border-light-blue, .btn-border-blue-grey,
.btn-border-blue i, .btn-border-white i, .btn-border-light-blue i {
  line-height: 4rem;
}

.btn-border-light-blue {
  background: transparent;
  border: 3px solid #5d85b7;
  color: #5d85b7;
  text-transform: none;
}

.btn-border-blue i,
.btn-border-white i,
.btn-border-light-blue i {
  font-size: 2.25em;
}

.btn-border-white,
.next-step {
  background: transparent;
  border: 3px solid #fff;
}

.i_add,
.btn-border-blue .i_add,
.btn-border-light-blue .i_add {
  background: #5d85b7;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  height: 1.6125rem;
  line-height: 1.6125rem;
  width: 1.6125rem;
}

/*--------------------
  header
  --------------------*/

nav *,
nav .brand-logo,
nav a,
nav ul li a,
nav .tabs .tab a,
nav .tabs a:active {
  color: #2b384a;
  font-family: 'function_bold', sans-serif;
}

nav .tabs .tab.disabled a {
  color: #aaa;
  font-family: 'function', sans-serif;
  font-size: .8375em;
}

nav a.disabled {
  color: #e4efee;
}

nav .tabs {
  text-align: center;
}

nav .tabs .tab {
  float: none;
}

  .brand-logo img {
    display: inline-block;
    height: 26px;
  }

  nav .brand-logo {
    padding: 15px 0;
  }

.nav-content {
  text-align: center;
}

.nav-content a {
  color: #5d85b7;
  display: inline-block;
  line-height: 3rem;
  padding: 0 1.5rem 1.125rem;
  text-align: center;
  transition: .2s all ease-in-out;
}

.nav-content a:hover {
  color: #2b384a;
}

.nav-content a.active {
  color: #2b384a;
}

/*--------------------
  home
  --------------------*/

.hero {
  padding-top: 60px;
  text-align: center;
}

  .hero h2 {
    text-align: justify;
  }

.section-top-bg {
  overflow: hidden;
  height: 80px;
  position: relative;
  top: -80px;
  width: 100%:
}

  .section-top-bg-img {
    left: -15%;
    position: absolute;
    min-height: 90px;
    top: 0;
    width: 180%;
    z-index: -1;
  }

.section-bottom-bg {
  min-height: 60px;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%:
}

.section-bottom-bg .section-top-bg-img {
  top: 0;
  z-index: 0;
}
.section-prefooter {
    padding-bottom: 0;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.home-mid .col {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px 4rem;
}

.home-mid img {
  max-height: 126px;
  width: auto;
}

.section-footer {
  padding: 40px 0;
}

.parallax-container {
  height: 400px;
  width: 100%;
}

.home-page .btn-border-light-blue {
  font-size: 1.5em;
}

.home-page .cta-fixed-width {
  border: 8px solid #e4efee;
  color: #2b384a;
  font-family: 'function', sans-serif;
  font-weight: normal;
  font-size: .75em;
  height: 43.5vw;
  margin: 0 auto 3rem;
  padding: 10px;
  width: 43.5vw;
}

  .home-page .cta-round div:first-child,
  .home-page .cta-round div:nth-child(2) {
    margin-top: 3rem;
  }

  .home-page .cta-fixed-width:hover {
    border: 8px solid #e8f5f3;
  }

  .home-page .cta-round img {
    height: 36%;
    margin: 12% auto 8%;
    width: auto;
  }

.logo-ecotrust {
  max-width: 180px;
}

.logo-row img.responsive-img {
  max-height: 120px;
  margin-bottom: 3rem;
  max-width: 200px;
}

.hero-bg {
  height: 200px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.hero-bg:before,
.hero-bg:after {
  content: '';
  position: absolute;
}

.hero-bg:before {
  background-image: url('/static/hnfp/img/bg_mountain.jpg');
  background-size: cover;
  background-attachment: local;
  background-position: 50%;
  bottom: -2%;
  left: -2%;
  right: -2%;
  top: -2%;
  z-index: -1;
}

  .observations .hero-bg:before {
    background-image: url('/static/hnfp/img/bg_berries.png');
  }

.hero-bg:after {
  background-image: url('/static/hnfp/img/mountain_ridge_white.svg');
  background-size: cover;
  bottom: -10px;
  height: 60px;
  left: -10%;
  min-width: 120%;
  z-index: -1;
}


/*--------------------
  dashboard
  --------------------*/

.dashboard .bg {
  height: 6vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard .bg:before,
.dashboard .bg:after {
  content: '';
  position: absolute;
}

.dashboard .bg:before {
  background-image: url('/static/hnfp/img/bg_mountain.jpg');
  background-size: cover;
  background-attachment: local;
  background-position: 50%;
  bottom: -2%;
  left: -2%;
  right: -2%;
  top: -2%;
  z-index: -1;
}

.dashboard .bg:after {
  background-image: url('/static/hnfp/img/mountain_ridge_white.svg');
  background-size: cover;
  bottom: 0%;
  height: 60%;
  left: -10%;
  min-width: 150%;
  z-index: -1;
}

.dashboard p {
  font-size: .8125em;
}

.dashboard h3 {
  font-size: .875em;
  line-height: 36px;
  margin: 0;
}

.dashboard h4 {
  font-size: 1em;
}

.dashboard h5 {
  font-size: 1.125em;
}

.dashboard .col.brand-logo {
  width: auto;
  padding-left: 0;
}
.dashboard .brand-logo img {
  height: 36px;
}

.pre-footer {
  position: relative;
  padding: 2rem 0 5rem;
}

.pre-footer:after {
  background-image: url('/static/hnfp/img/mountain_ridge_blue.svg');
  background-size: 125% auto;
  background-position: 50% top;
  bottom: 0;
  content: '';
  height: 5rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.weather-wrap {
  overflow: hidden;
}

#forecast,
#marine,
#tides {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  padding: 3rem 0;
}

#tides {
  text-align: center;
}

#tides {
  border-bottom: none;
}

#forecast h4, #marine h4, #tides h4 {
  margin: 0 0 1rem;
}

#forecast p:last-child {
  margin: 0;
}

#forecast > div > div,
#marine > div > div {
  line-height: 2rem;
}

.weather-wrap > div > div > div > div:nth-of-type(2n+2) {
  background: rgba(255,255,255,0.4);
}

.weather-wrap strong {
  font-size: .9375em;
}

.weather-block {
  font-size: .8125em;
}

#tides th {
  font-size: .9375em;
  text-align: right;
}

.blog-roll h4 {
  font-size: 2em;
}

.blog-roll .brand-logo {
  display: inline-block;
  vertical-align: middle;
}

.blog-roll h4.num,
.blog-roll .comments p {
  display: inline-block;
  line-height: 1.75;
  margin: 0 5px;
  vertical-align: sup;
}

.blog-roll em {
  font-size: 1em;
}

.observation-block {
  margin-bottom: 2rem;
  padding: 2rem;
}

.observation-block .btn {
  font-size: .875em;
  margin: 2rem 0 1.5rem;
  padding: 0 0 0 1rem;
}

.observation-block .btn i {
  font-size: 3rem;
}

.observation-block p {
  text-align: center;
}

.observation-block img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

.job-post {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

  .job-post:after {
    background: #2b384a;
    bottom: 0;
    content: '';
    left: 40%;
    height: 5px;
    position: absolute;
    width: 20%;
  }

  .job-post:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .job-post:last-of-type:after {
    content: none;
  }

.job-post h5 {
  color: #5d85b7;
}

.job-post p {
  text-align: center;
}

/*--------------------
  map
  --------------------*/

.dashboard .map-wrap {
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.dashboard #map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.alerts-wrap {
  position: relative;
}

#map-panel {
  background-color: #e4efee;
  padding: 1rem;
  width: 100%;
}

.SimpleLayerSwitcher {
  z-index: 0;
}

#survey-map-wrapper {
  display: block;
  height: 480px;
  position: relative;
  width: 100%;
}

#survey-map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#map div.olControlZoom {
  background: rgba(255,255,255,0.8);
  bottom: auto;
  right: 0;
  top: 0;
  padding: 0;
}

#map div.olControlZoom .olButton {
  display: inline-block;
  background: transparent;
  color: #000;
  font-size: 1em;
  height: auto;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2rem;
}

#map div.olControlZoom .olButton.olControlZoomOut {
  font-size: 1.5em;
}

.preloader-wrapper {
  display: block;
  margin: 0 auto;
}
.preloader-wrapper:not(.active) {
  height: 0;
}

/*--------------------
  observations
  --------------------*/

#stepone, #steptwo, #stepthree, #stepchangeloc, #stepfour {
  display: none;
}

#stepone.visible, #steptwo.visible, #stepthree.visible, #stepchangeloc.visible, #stepfour.visible {
  display: block;
}

#new-observation.visible {
  display: block;
}

#new-observation {
  background: rgba(255,255,255,0.94);
  box-shadow: 0 0 6px #666;
  display: none;
  height: 48%;
  left: 5%;
  overflow: scroll;
  padding: 0;
  position: absolute;
  top: 47%;
  width: 90%;
}

  #new-observation.tall {
    height: 80%;
    top: 10%;
  }

  #new-observation.short {
    height: 25%;
    top: 70%;
  }

#new-observation .progress {
  margin: 0;
}

#new-observation form,
#new-observation input,
#new-observation label,
#new-observation textarea {
  color: #4d4d4e;
  font-family: 'function_bold', sans-serif;
}

#new-observation #observation_location {
  background: transparent;
  color: #777;
  font-family: 'function', sans-serif;
  margin: 0 0 .5rem;
}

#input-field-location {
  margin-bottom: 1.5rem;
}

#input-field-location .btn {
  box-shadow: none;
}

#new-observation h2 {
  color: #2b384a;
  line-height: 1;
  margin: 0 0 2rem;
  padding: 1rem 0;
  position: relative;
}

  #new-observation h2:after {
    bottom: -5px;
    border-bottom: 5px solid #2b384a;
    left: 40%;
    content: '';
    position: absolute;
    width: 20%;
  }

#new-observation input:not(.file-path),
#new-observation textarea {
  background: #dfebea;
  color: #4d4d4e;
}

#new-observation label {
  text-indent: 4px;
}

#new-observation .btn:not(.small-btn) {
  font-size: 1.125em;
  line-height: 2.75rem;
}

.small-btn.btn {
  font-size: .8125em;
  line-height: 2.5rem;
  margin-bottom: 0;
  padding: 0 1rem;
}

.small-btn.btn-border-light-blue {
  font-size: .875em;
}

.small-btn.btn i {
  line-height: inherit;
}

.observations select.browser-default,
#new-observation select.browser-default {
  background: #dfebea;
  color: #4d4d4e;
  font-family: 'function_bold', sans-serif;
  outline: none;
}

#new-observation select.browser-default {
  margin-bottom: 1rem;
}

.map-container {
  height: 440px;
}

.observations #map-wrapper {
  position: relative;
}

.observations #map {
  height: 100%;
}

.observations .collapsible {
  margin-bottom: 0;
}

.observations section:not(.section) .row {
  margin-bottom: 0;
}

.observations .blue_dark label {
  color: #2b384a;
}

  .observations .blue_dark input[type="checkbox"]:not(.filled-in) + label:before,
  .observations .blue_dark input[type="checkbox"]:not(.filled-in) + label:after,
  .observations .blue_dark input[type="checkbox"] + label:before,
  .observations .blue_dark input[type="checkbox"] + label:after {
    border: none;
    border-radius: 50%;
    background: rgba(43,56,74,0.2);
    color: #5d85b7;
  }

.observations .add-btn {
  line-height: 3rem;
}

.observations i.i_add {
  font-size: 1.5625em;
  line-height: 1.4375rem;
  height: 1.4375rem;
  margin-right: .5rem;
  width: 1.4375rem;
  vertical-align: middle;
}

.observations .select-wrapper .caret {
  color: #5d85b7;
}

.observations .select-wrapper .select-dropdown {
  border: none;
  color: #5d85b7;
  font-size: 1em;
  margin-bottom: 0;
}

.observations .collapsible {
  border: none;
  box-shadow: none;
}

.observations .collapsible li {
  margin: 0;
}

.observations .collapsible .collapsible-header {
  border: none;
  color: #5d85b7;
  display: inline-block;
  font-weight: 700;
}

  .observations .collapsible .collapsible-header.active {
    background: #e4efee;
  }

    .observations .collapsible .collapsible-header.active i {
      transform: rotate(90deg);
    }

.observations .collapsible .collapsible-body {
  background: #e4efee;
  padding: 1rem .5rem 0;
}

  .observations .collapsible .collapsible-body .row {
    margin-bottom: 0;
  }

  .observations .collapsible .collapsible-body .s6 {
    margin-bottom: 1rem;
  }

  .observations .collapsible .collapsible-body .flow-text {
    font-size: 1em;
  }


.relative.height .center .absolute {
  left: 25%;
  transition: (-50%,0);
  width: 50%;
}

.observations .toolbar.active ul {
  background-color: #fff;
  z-index: 1;
}

.relative.height ul img {
  height: 100%;
  max-width: 100%;
}

.file-path-wrapper {
  clear: both;
  display: block;
  padding-left: 0;
}

.file-path-wrapper input {
  font-size: .8125em;
}

/*--------------------
  Forum
  --------------------*/
.forum h4 {
  font-size: 2em;
}

.forum p {
  font-size: 1.25em;
}

/*--------------------
  survey
  --------------------*/

.survey-intro h2 {
  margin: 0;
}

.row-icon {
  max-width: 60px;
}

.border-survey-wrap {
  border-bottom: 3px solid #2b384a;
}

.survey-wrap {
  background: rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;
}

.survey-wrap:before,
.survey-wrap:after {
  content: '';
  position: absolute;
}

.survey-wrap:before {
  background-image: url('/static/hnfp/img/aurora.jpg');
  background-size: cover;
  background-attachment: local;
  background-position: 50% 80%;
  bottom: -2%;
  left: -2%;
  right: -2%;
  top: -1%;
  z-index: -1;
}

.survey-wrap:after {
  background-image: url('/static/hnfp/img/mountain_ridge_blue.svg');
  background-size: cover;
  bottom: -10%;
  height: 25%;
  left: -10%;
  min-width: 150%;
  z-index: -1;
}

.survey-wrap input {
  background: rgba(255,255,255,0.45);
}

.survey-wrap *:focus {
  outline: 1px solid yellow;
}

.survey-wrap label {
  color: #fff;
}

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  border: 2px solid #fff;
}

.survey-wrap .range-field label {
  color: #fff;
}

.survey-wrap input[type=range] {
  border: none;
}

.survey-wrap h5 {
  font-weight: 700;
}

.survey-wrap em {
    font-size: .8125em;
}

.survey-wrap .inline {
  display: inline-block;
}

.step.active,
.input-field label,
.input-field input:focus + label.active,
.survey-wrap ul.stepper .step {
  color: #fff;
}

.survey-wrap .input-field input:focus,
.survey-wrap .input-field input {
  border-bottom: none;
  padding-left: 4px;
}

.survey-wrap .input-field label {
  text-indent: 5px;
}

.survey-wrap ul.stepper .step:before {
  background-color: rgba(255,255,255,0.15);
  color: transparent;
  height: 18px;
  line-height: 18px;
  opacity: 0;
  top: 12px;
  width: 18px;
}

.survey-wrap ul.stepper .step.done {
  color: rgba(255,255,255,.65);
}

.survey-wrap ul.stepper .step.active:before {
  background: rgba(255,255,255,0.15);
  color: transparent;
}

.survey-wrap ul.stepper .step.done:before {
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,0.8);
  opacity: 1;
}

.survey-wrap ul.stepper .step .step-title {
  font-family: 'function_bold';
  font-size: 1.1875em;
  display: inline-block;
  margin: 0 -10px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 36px;
}

.survey-wrap ul.stepper .step.done:not(.active) .step-title {
  padding-bottom: 4px;
}

.survey-wrap ul.stepper .step.active .step-title {
  font-family: 'function_bold';
  font-size: 1.3125em;
  font-weight: normal;
  line-height: 1;
}

.survey-wrap ul.stepper .step-content {
  margin-left: 26px;
}

.step-actions .btn,
.previous-step {
  height: auto;
  line-height: 2.5;
  text-transform: none;
}

.step-actions .btn i {
  font-size: 1.375em;
  line-height: 1.8125;
}

.previous-step {
    color: #aaa;
}

.survey-wrap input[type="checkbox"] + label {
  color: #fff;
}

.survey-wrap input[type="checkbox"]:not(.filled-in) + label:after,
[type="checkbox"].filled-in:not(:checked) + label:after {
  border: 2px solid #fff;
}

.survey-wrap input[type="checkbox"] + label:before {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.survey-wrap .inline-label label {
  color: #fff;
  font-size: .75em;
  line-height: 3rem;
  margin-left: 5px;
}

svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: #aaa;
  stroke: #fff;
}

#imgmap-img,
#imgmap {
  width: 100%
}

.welcome_steward {
    min-height: 100vh;
    width: 100%;
}

.welcome_steward p {
  font-size: .5em;
  font-weight: 700;
  line-height: 1.125;
  margin: 0 12%;
}

.cta-fixed-width {
  border: 4px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  display: block;
  font-family: 'function_bold', sans-serif;
  font-size: 1em;
  height: 30vw;
  margin: 0 auto 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 30vw;
}

  .welcome_steward .cta-fixed-width {
    color: #fff;
  }

  .cta-fixed-width:hover {
    border: 4px solid #fff;
  }

.cta-round {
  text-align: center;
}

.cta-round img {
  display: block;
  height: 33%;
  margin: 15% auto 9%;
  width: auto;
}

/*--------------------
  login
  --------------------*/
.classless-page h1 {
  text-align: center;
}

/*--------------------
  media queries mq
  --------------------*/

@media only screen and (min-width: 48em) {

  main {
    font-size: 1.125em;
  }

  .section-top-bg-img {
    width: 140%;
  }

  .hero {
    padding-top: 80px;
  }

  .hero h2 {
    text-align: center;
  }

  .home-page .cta-fixed-width {
    font-size: .875em;
    height: 250px;
    width: 250px;
  }

  #tides th {
    font-size: 1em;
    text-align: center;
  }
}

@media (min-width: 54em) {

  .hero-bg {
    height: 300px;
    margin-bottom: 4rem;
  }

  .dashboard .bg {
    height: 30vh;
  }

  .dashboard .bg:after {
    bottom: -10%;
    height: 25%;
  }

  #logo-container.brand-logo {
    left: 50%;
    transform: translate(-50%,0);
  }

  .cta-fixed-width {
    height: 12rem;
    margin-bottom: 3rem;
    width: 12rem;
  }

  .home-page .cta-fixed-width {
    border: 8px solid #e4efee;
    font-size: 1em;
    padding: 12px;
  }

  .welcome_steward .cta-fixed-width {
    border: 8px solid #e4efee;
  }

  .welcome_steward .cta-fixed-width:hover {
    border: 8px solid #fff;
  }

  .welcome_steward p {
    font-size: .875em;
  }

  .section-bottom-bg {
    min-height: 100px;
  }

  #new-observation,
  #new-observation.tall {
    height: 90%;
    top: 5%;
    width: 35%;
  }
}

@media only screen and (min-width: 64em) {

  .container {
    width: 78%;
  }

  main {
    font-size: 1em;
  }

  .dashboard .bg:after {
    bottom: 0%;
    height: 30%;
  }

  .parallax-container {
    height: 500px;
  }

  .btn-border-blue, .btn-border-light-blue, .btn-border-blue-grey,
  .btn-border-blue i, .btn-border-white i, .btn-border-light-blue i {
    line-height: 4.5rem;
  }

  .btn-border-blue, .btn-border-light-blue, .btn-border-blue-grey {
    font-size: 1em;
  }

  .btn-border-blue i,
  .btn-border-white i,
  .btn-border-light-blue i {
    font-size: 3em;
  }

  .hero {
    padding-top: 125px;
  }

  .step-actions {
    background: transparent !important;
  }

  .weather-wrap.bg_green_light {
    padding: 0rem 10%;
  }

  .dashboard .col.left {
    border-right: 1.25em solid transparent;
  }

  .dashboard .col.right {
    border-left: 1.25em solid transparent;
  }

  .dashboard #map {
    height: 100%;
    left: 40%;
    width: 60%;
  }

  #map-panel {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 40%;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1380px
  }
}
