/*--------------------
  colors
  --------------------*/

.black {
  color: #000;
}

.red {
  color: #d53f38;
}

.teal {
  color: #57a6a2;
}

.green_light {
  color: #e4efee;
}

.blue_grey {
  color: #5d85b7;
}

.blue_dark {
  color: #2b384a;
}

.magenta {
  color: #9e005d;
}


/*--------------------
  global
  --------------------*/

h1,
h2,
h3 {
  font-family: 'function', sans-serif;
  font-weight: 700;
  line-height: 2;
  margin: 0 0 .5em;
}

h1 {
  font-size: 3.25em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.25em;
}

nav *,
nav .brand-logo,
nav a,
nav ul li a {
  color: #000;
}

/*--------------------
  home
  --------------------*/

.parallax-container {
  height: 40vh;
  width: 100%;
}

.hero {
  color: #fff;
  padding-top: 10%;
  text-align: center;
}

  .hero h2 {
    text-align: justify;
  }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.home-mid .col {
  margin-bottom: 2em;
}
