{% load static %}
  <section>
    <section id="stepone" class="observation-location visible card">
      <div class="card-content">
        <span class="center card-title">Add Entry</span>
        <a data-value="forest" class="start-project-btn btn btn-border-light-blue" id="new-forest-project">Forest</a>
        <a data-value="road" class="start-project-btn btn btn-border-light-blue" id="new-road-project">Road</a>
        <a data-value="stream" class="start-project-btn btn btn-border-light-blue" id="new-stream-project">Stream</a>
      </div>
    </section>
    {% csrf_token %}
    <section id="steptwo" class="card">
      <div class="card-content">
        <span class="center card-title">New Project</span>
        <div class="input-field">
          <input id="name" type="text" name="name" required>
          <label for="name">Name your Project</label>
        </div>
        <div class="input-field">
          <textarea id="summary" name="summary" class="materialize-textarea" required></textarea>
          <label for="summary">Short Description</label>
        </div>
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepOne()" class="cancel">Back</a>
        <a onclick="landuseProject.stepThree()" class="btn next btn-border-light-blue">Next</a>
      </div>
    </section>
    <section id="stepthree" class="card">
      <div class="card-content">
        <span class="center card-title">Projected Dates of Completion</span>
        <div class="input-field">
          <input id="start_date" name="start_date" type="text" class="project_date">
          <label for="start_date">From</label>
        </div>
        <div class="input-field">
          <input id="completion_date" name="completion_date" type="text" class="project_date">
          <label for="completion_date">To</label>
        </div>
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepTwo()" class="cancel">Back</a>
        <a onclick="landuseProject.stepFour()" class="btn next btn-border-light-blue">Next</a>
      </div>
    </section>
    <section id="stepfour" class="card">
      <div class="card-content">
        <div class="input-field">
          <input id="action" name="action" type="text" />
          <label for="action">Describe Action</label>
        </div>
        <div class="input-field">
          <input id="action" name="action" type="number" placeholder="$" />
          <label for="action">Estimated Dollar Cost</label>
        </div>
        <div class="input-field">
          <textarea id="impact"  name="impact" type="text"></textarea>
          <label for="">Projected Impact</label>
      </div>
      <div class="card-action">
        <a onclick="landuseProject.locOkay()" class="cancel">Cancel</a>
        <a id="loc-change" class="btn next btn-border-light-blue">Set Location</a>
      </div>
    </section>
    <section id="" class="card">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s5" id="input-field-location">
            <input type="text" id="area" name="area" val="" />
          </div>
          <div class="input-field col s7">
            <a onclick="landuseProject.backStepThree()" class="btn small-btn btn-border-light-blue">Change Location</a>
          </div>
        </div>
        <div class="row">
          <div class="col s6 relative">
            <select class="browser-default" name="category" required>
              <option value="">Choose Category</option>
              {% for cat in proj_cats %}
                <option value="{{ cat }}" class="circle">{{ cat }}</option>
              {% endfor %}
            </select>
            <i class="material-icons select-icon">arrow_drop_down</i>
          </div>
          <div class="col s6 relative">
            <select class="browser-default" name="" required>
              <option value="">Choose Type</option>
              <option value="observation" class="circle">Observation</option>
              <option value="gather" class="circle">Gather</option>
              <option value="hunt" class="circle">Hunt</option>
            </select>
            <i class="material-icons select-icon">arrow_drop_down</i>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <input type="number" id="observation_tally" name="observation_tally" />
            <label for="observation_tally">Tally</label>
          </div>
          <div class="file-field input-field col s9">
            <div class="btn small-btn btn-border-light-blue">
              <span>Choose File</span>
              <input type="file" id="observation_photo" name="observation_photo" >
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Image(s)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="comments" name="comments" class="materialize-textarea"></textarea>
            <label for="comments">Comments</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <input placeholder="Date" id="observation_date" name="observation_date" type="text" class="datepicker">
          </div>
          <div class="col s6">
            <input placeholder="Time" id="observation_time" name="observation_time" type="text" class="timepicker">
          </div>
        </div>
      </div>
      <input type="hidden" id="uid_time" name="uid_time" />
      <input type="hidden" id="category" name="category" />
      <div class="card-action center">
        <button type="submit" class="btn submit btn-border-light-blue" name="submit">Add to Map</button>
      </div>
      <div class="card-action center">
        <a onclick="landuseProject.close()">Cancel</a>
      </div>
    </section>
  </section>
