{% load static %}
  <section>
    <a onclick="landuseProject.close()" class="close"><i class="material-icons red-text">close</i></a>
    <section id="stepone" class="observation-location visible card">
      <div class="card-content">
        <span class="center card-title">Add Entry</span>
        <a data-value="forest" class="start-project-btn btn btn-border-light-blue" id="new-forest-project">Forest</a>
        <a data-value="road" class="start-project-btn btn btn-border-light-blue" id="new-road-project">Road</a>
        <a data-value="stream" class="start-project-btn btn btn-border-light-blue" id="new-stream-project">Stream</a>
      </div>
    </section>
    {% csrf_token %}
    <section id="steptwo" class="card">
      <div class="card-content">
        <span class="center card-title">New Project</span>
        <div class="input-field">
          <input id="name" type="text" name="name">
          <label for="name">Name your Project</label>
        </div>
        <div class="input-field">
          <textarea id="summary" name="summary" class="materialize-textarea"></textarea>
          <label for="summary">Short Description</label>
        </div>
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepOne()" class="cancel">Back</a>
        <a onclick="landuseProject.stepThree()" class="btn next btn-border-light-blue">Next</a>
      </div>
    </section>

    <section id="stepthree" class="card">
      <div class="card-content">
        <span class="center card-title">Projected Dates of Completion</span>
        <div class="input-field">
          <input id="start_date" name="start_date" type="text" class="project_date">
          <label for="start_date">From</label>
        </div>
        <div class="input-field">
          <input id="completion_date" name="completion_date" type="text" class="project_date">
          <label for="completion_date">To</label>
        </div>
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepTwo()" class="cancel">Back</a>
        <a onclick="landuseProject.stepFour()" class="btn next btn-border-light-blue">Next</a>
      </div>
    </section>

    <section id="stepfour" class="card">
      <div class="card-content">
        <div class="input-field">
          <input id="action" name="action" type="text" />
          <label for="action">Describe Action</label>
        </div>
        <div class="input-field">
          <input id="dollar_costs" name="dollar_costs" type="number" placeholder="$" />
          <label for="dollar_costs">Estimated Dollar Cost</label>
        </div>
        <div class="input-field">
          <input id="emdollars" name="emdollars" type="number" placeholder="Em$" />
          <label for="emdollars">Estimated Emdollar Cost</label>
        </div>
        <div class="row">
          <p><strong>Projected Impact</strong></p>
          <div class="impact-wrap">
            <section>
              <div class="input-field col s12 m4">
                <select id="impact_type" name="impact_type">
                  <option value="" disabled selected>Impact Type</option>
                  {% for impact in impactTypes %}
                    <option value="{{ impact.name }}">{{ impact.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-field col s12 l8">
                <select id="resource" name="resource" multiple>
                  <option value="" disabled selected>Resource</option>
                  {% for resource in resources %}
                    <option value="{{ resource.name }}">{{ resource.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </section>
          </div>
        </div>
        <div class="input-field">
          <a class="btn btn-flat add-impact"><i class="material-icons">add_circle</i> Add Additional Impact</a>
        </div>
        <input type="hidden" id="uid_time" name="uid_time" />
        <input type="hidden" id="category" name="category" />
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepThree()" class="cancel">Back</a>
        <a onclick="landuseProject.stepFive()" class="btn next btn-border-light-blue">Next</a>
      </div>
    </section>

    <section id="stepfive" class="card">
      <div class="card-content">
        <p><strong>Draw the proposed project area</strong>
        <input type="hidden" id="area" name="area" />
      </div>
      <div class="card-action">
        <a onclick="landuseProject.stepFour()" class="cancel">Back</a>
        <button type="submit" class="btn submit btn-border-light-blue" name="submit">Save</button>
      </div>
    </section>
  </section>
