{% extends "hnfp/index.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'hnfp/css/openlayers/ol.css'%}">
  <link rel="stylesheet" href="{% static 'hnfp/css/openlayers/layerswitcher.css' %}" media="screen,projection"/>
{% endblock extra_css %}

{% block outer_content %}
  <main id="land-use" class="land-use">
    {% block controls %}
      <section class="wrap controls">
        <div class="row">
          <div class="col s12 l6">
            <h5>Layers</h5>
            <div id="visible-themes"></div>
          </div>
          <!-- No other languages than english, so hiding till there is
          <div class="col s12 l3">
            <h5>Map Language</h5>
            <div class="container left">
              <select class="browser-default">
                <option selected value="en">English</option>
              </select>
            </div>
          </div> -->
          <div class="col s12 l3">
            <h5>Land Management &amp; Stewardship</h5>
            <div class="container left">
              <p>
                <input type="radio" id="checkbox_forest-projects" class="bg-teal" checked />
                <label for="checkbox_forest-projects">Forest Projects</label>
              </p>
              <p>
                <input type="radio" id="checkbox_road-projects" class="bg-red" checked />
                <label for="checkbox_road-projects">Road Projects</label>
              </p>
              <p>
                <input type="radio" id="checkbox_stream-projects" class="bg-blue" checked />
                <label for="checkbox_stream-projects">Salmon Projects</label>
              </p>
            </div>
          </div>
          <div class="col s12 l3">
            <h5>Stewards Input</h5>
            <div class="container left">
              <p>
                <input type="checkbox" id="checkbox_alerts" class="filled-in" />
                <label for="checkbox_alerts">Alerts</label>
              </p>
              <p>
                <input type="checkbox" id="checkbox_observations" class="filled-in" />
                <label for="checkbox_observations">Shared Maps</label>
              </p>
              <!-- <p>
                <input type="checkbox" id="checkbox_survey" class="filled-in" />
                <label for="checkbox_survey">Steward Survey Results</label>
              </p> -->
            </div>
          </div>
        </div>
      </section>
    {% endblock controls %}

    <section class="landuse-map">
      <div id="map-wrapper">
        <div id="map" class="map"></div>
        <a id="new-project-btn" class="btn btn-border-light-blue add-btn"><i class="material-icons">add_circle</i> Add Project</a>
        <div id="popup" class="card">
          <div class="card-content"></div>
          {% if perms.hnfp.change_landuseprojects %}
            <div class="card-action"></div>
          {% endif %}
        </div>
        <div id="new-project">
          <form id="project-form" method="post" action="/landuse/create/"></form>
        </div>
      </div>
    </section>

  </main>
{% endblock outer_content %}

{% block extra_js %}
  {{ block.super }}

  {% block gmaps_api_call %}{% endblock %}
  {% block custom_marco_ol3 %}{% endblock %}
  {% block mp_js %}
    <script src="{% static 'hnfp/js/openlayers/ol.js' %}"></script>
    <script src="{% static 'hnfp/js/openlayers/layerswitcher.js' %}"></script>

    <script>
      var all_alerts = {{ alerts|safe }};
      var user_observations = {{ user_observations|safe }};
      var all_projects = {{ all_projects|safe }};
      var all_public_projects = {{ all_public_projects|safe }};
      var share_with_land_managers = '{{ perms.hnfp.change_landuseprojects }}';
      if (share_with_land_managers != 'False') {
        var all_shared_projects = {{ all_shared_projects|safe }};
      } else {
        var all_shared_projects = 'undefined';
      }
    </script>

    <script src="{% static 'hnfp/js/map.hnfp.js' %}"></script>
    <script src="{% static 'hnfp/js/map.landuse.js' %}"></script>
    <script src="{% static 'hnfp/js/alerts.js' %}"></script>
    <script src="{% static 'hnfp/js/observations.js' %}"></script>
    <script src="{% static 'hnfp/js/projects.js' %}"></script>
  {% endblock mp_js %}
{% endblock extra_js %}
