{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_alert_darkblue.svg' %}" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">Alerts</h3>
  </div>
</div>

<div class="row">
  <section class="alerts-wrap">
    <div id="map-panel">
      <div class="bg-wrap">

      </div>
    </div>
    <div class="map-wrap">
      <div id="map" class="map"></div>
    </div>
  </section>
</div>

<div class="row right-align">
  <a href="{% url 'alert' %}" class="waves-effect waves-dark flow-text btn btn-border-light-blue">Go to Alerts <i class="material-icons right">navigate_next</i></a>
</div>

<script>
  var all_alerts = {{ alerts|safe }};
</script>
