{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_alert_darkblue.svg' %}" />
  </div>
  <div class="col s10">
    <h5 class="flow-text">Alerts</h5>
  </div>
</div>

<div class="row">
  <section class="col s12 l6 bg_green_light">
    <div id="map-panel">
      <section class="container">
        <div class="col s12">
          <!-- TODO add foreach KO loop for alerts -->
        </div>
      </section>
    </div>
  </section>
  <section class="col s12 l6">
    <div class="container-fluid" id="primary-content">
        <div id="fullscreen">
            <div id="map-wrapper">
                <div id="map" click="click: outsideSubLayer"></div>
              </div>
            </div>
          </div>
  </section>
</div>

<div class="row">
  <a href="" class="waves-effect waves-dark flow-text btn btn-border-blue right">Report an Alert <i class="material-icons right">navigate_next<i></a>
</div>
