{% load static %}

<div class="row flow-text">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_alert_darkblue.svg' %}" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">Alerts</h3>
  </div>
</div>

<div class="row">
  <section class="alerts-wrap z-depth-2">
    <div class="map-wrap">
      <div id="map" class="map"></div>
      <div id="popup" class="card">
        <div class="card-content"></div>
        <div class="card-action"></div>
      </div>
    </div>
    <div id="map-panel">
      <div class="recent-alerts"></div>
    </div>
  </section>
</div>

<div class="row right-align flow-text">
  <a href="{% url 'alert' %}" class="waves-effect waves-dark flow-text btn btn-border-light-blue">Go to Alerts <i class="material-icons right">navigate_next</i></a>
</div>
