{% load static %}

<div class="row flow-text">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_news.svg' %}" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">From the Forum</h3>
  </div>
</div>

<div class="row blog-roll">
  <section class="col s12 bg_green_light">
    {% for object in posts %}
      <article class="container section">
        <div class="row">
          <h4 class="center"><a href="{{ object.get_absolute_url }}" class="blue_grey">{{ object.title }}</a></h4>
          <p class="center"><em>{{ object.publish }}</em></p>
          <p class="center">{{ object.body|truncatewords:30|linebreaks }}</p>
        </div>
        <div class="row comments">
          <div class="col s12">
            <a href="/forum" class="brand-logo"><img src="{% static 'hnfp/img/icons/i_comment.svg' %}" /></a>
            <h4 class="blue_grey num">0</h4>
            <p>Responses</p>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
</div>

<div class="row flow-text">
  <a href="/forum/" class="waves-effect waves-dark btn btn-border-light-blue right">Go to Forum <i class="material-icons right">navigate_next</i></a>
</div>
