{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_cal.svg' %}" alt="calendar" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">Upcoming Events</h3>
  </div>
</div>

<div class="row">
  <section class="bg_green_light section events-section z-depth-2">
      {% for event in events %}
        <article class="container section">
          <div class="row center">
            <h4><a href="{{ event.get_absolute_url }}" class="blue_grey">{{ event.title }}</a></h4>
            <p>{{ event.body|linebreaks|truncatewords:100 }}</p>
          </div>
        </article>
      {% endfor %}
  </section>
</div>
