{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_binoculars.svg' %}" />
  </div>
  <div class="col s10">
    <h5 class="flow-text">My Hunting/Gathering</h5>
    <h6 class="flow-text">Overview <!-- TODO add year --></h6>
  </div>
</div>

<div class="row">
  <section class="col s12 bg_green_light">
    <!-- TODO add events loop -->
    <div class="row">
      <div class="col s6">
        <div class="col s6 offset-s3">
          <p><img src="{% static 'hnfp/img/icons/i_deer.svg' %}" /></p>
          <p class="center"><span id="deer-kills" data-bind="deer_kills"></span> <strong class="flow-text">Deer</strong></p>
        </div>
      </div>
      <div class="col s6">
        <div class="col s6 offset-s3">
          <p><img src="{% static 'hnfp/img/icons/i_fish.svg' %}" /></p>
          <p class="center"><span id="fish_kills" data-bind="fish_kills"></span> <strong class="flow-text">Fish</strong></p>
        </div>
      </div>
      <div class="col s6 offset-s3">
        <div class="col s6 offset-s3">
          <p><img src="{% static 'hnfp/img/icons/i_berries.svg' %}" /></p>
          <p class="center"><span id="berries_picked" data-bind="berries_picked"></span> <strong class="flow-text">Berries</strong></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s9">
        <a href="/observations" class="waves-effect full flow-text btn btn-border-light-blue">Go to Map <i class="material-icons right">navigate_next<i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <a href="" class="blue_grey center"><i class="i_add">+</i> Add/Edit</a>
      </div>
    </div>
  </section>
</div>
