{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_binoculars.svg' %}" alt="binoculars" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">My Hunting / Gathering</h3>
    <h6 class="flow-text">Overview 2017</h6>
  </div>
</div>

<div class="row">
  <section class="bg_green_light section observation-block">
    <div class="container">
      <div class="col s4 l6">
        <p><img src="{% static 'hnfp/img/icons/i_deer.svg' %}" alt="deer" /></p>
        <p><span id="deer-kills" data-bind="deer_kills"></span> <strong class="flow-text">Deer</strong></p>
      </div>
      <div class="col s4 l6 center-align">
        <p><img src="{% static 'hnfp/img/icons/i_fish.svg' %}" alt="fish" /></p>
        <p><span id="fish_kills" data-bind="fish_kills"></span> <strong class="flow-text">Fish</strong></p>
      </div>
      <div class="col s4 l6 offset-l3">
        <p><img src="{% static 'hnfp/img/icons/i_berries.svg' %}" alt="berries" /></p>
        <p><span id="berries_picked" data-bind="berries_picked"></span> <strong class="flow-text">Berries</strong></p>
      </div>
    </div>
    <div class="container section">
      <a href="{% url 'observation' %}" class="btn btn-border-light-blue">Go to Map <i class="material-icons right">navigate_next</i></a>
    </div>
    <div class="container">
      <!-- <a href="{% url 'new_observation' %}" class="center grey-text"><i class="i_add">+</i> Add/Edit</a> -->
    </div>
  </section>
</div>
