{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_checklist.svg' %}" />
  </div>
  <div class="col s10">
    <h3 class="flow-text">Job Listings</h3>
  </div>
</div>

<div class="row">
  <section class="bg_green_light section">
    <!-- TODO add events loop -->
    <div class="container">
      {% for job in jobs %}
        <article class="job-post">
          <h5 class="border-bottom"><a href="/job/{{ job.id }}" >{{ job.title }}</a></h5>
          {{ job.job_post|truncatechars_html:40 | safe }}
        </article>
      {% endfor %}
    </div>
  </section>
</div>
