{% load static %}

<div class="row">
  <div class="col s2 brand-logo">
    <img src="{% static 'hnfp/img/icons/i_rain.svg' %}" />
  </div>
  <div class="col s10">
    <h5 class="flow-text">Weather &amp; Marine Conditions</h5>
  </div>
</div>

<div class="row">
  <section class="col s12 bg_green_light">
    <div id="forecast">
      <h4 class="center">Forecast</h4>
      <div id="openweathermap"></div>
    </div>
    <div id="marine">
      <h4 class="center">Marine Conditions</h4>
      <iframe src="http://www.ndbc.noaa.gov/widgets/station_page.php?station=SISA2" style="border: solid thin #3366ff; width:300px; height:300px"></iframe>
    </div>
    <div id="tides">
      <h4 class="center">Tide Reports</h4>
    </div>
  </section>
</div>
